.post {
  font-family: sans-serif;
  -webkit-box-shadow: 5px 5px 13px 5px rgba(0, 0, 0, 0.14);
  box-shadow: 5px 5px 13px 5px rgba(0, 0, 0, 0.14);
  margin: 30px 0;
  margin-left: 10px;
  border-radius: 10px;
}

.postImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postTop {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.postTopLeft {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}
.postCenter {
  margin: 20px 0;
}
.postCaptipn {
  margin-left: 10px;
}

.postUserName {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postTime {
  font-size: 10px;
}
.postedImage {
  width: 98%;
  background-size: cover;
  margin-left: 5px;
}
.reactionPic {
  width: 24px;
  height: 24px;
  margin-left: 1px;
  cursor: pointer;
}
.postBottomleft {
  display: flex;
  align-items: center;
}
.likeCount {
  margin-left: 5px;
  font-size: 15px;
}
.commentCount {
  margin-right: 10px;
  border-bottom: 1px dashed gray;
  cursor: pointer;
}
.postBottom {
  width: 98%;
  align-items: center;
  display: flex;
  margin-left: 5px;
  justify-content: space-between;
}
